{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <form action="/reset" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Password" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="confirmation" placeholder="Password Confirmation" type="text">
        </div>
            <input type="hidden" name="token" value={{ token }}>
        <button class="btn btn-primary" type="submit">Send OTT</button>
    </form>
{% endblock %}
