{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}

    <div id="notificationBox" class="alert alert-info text-center" style="display: none; margin-top: 10px;">
        Your request is being processed. Please wait...
    </div>
    <form id="resetForm" action="/reset_password_email" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="text" pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$" title="Please enter a valid Gmail address (e.g., user@gmail.com)">
        </div>
        <button id="submitButton" class="btn btn-primary" type="submit">Send OTT</button>
    </form>

    <script>
        document.getElementById('resetForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const notificationBox = document.getElementById('notificationBox');
            notificationBox.style.display = 'block';

            setTimeout(() => {
                notificationBox.style.visibility='invisible';
                alert('The email has been sent successfully!');
                this.submit();
            }, 2000); // Delay of 2 seconds
        });
    </script>
{% endblock %}
